html {scroll-behavior: smooth;}
body{overflow-x: hidden; background:#EFF2F9;}
li, td, table, tr, th, thead, input, label, select, textarea , button {
	font-family: "Manrope", sans-serif;
	font-weight:400;
	font-size:17px;
	color:#000;
	outline:none;
}
h1 {
	font-family: "Manrope", sans-serif;
	font-size:60px;
	text-align:center;
	color: #032E5D;
	margin-top:0;
	font-weight:200;
	margin-bottom:20px;
}
h2 {
	font-family: "Manrope", sans-serif;
	font-size:40px;
	margin: 0;
	text-align:center;
	color: #032E5D;
	margin-top:0;
}
h3{
	font-family: "Manrope", sans-serif;
	font-size:30px;
    margin: 0;
    text-align: center;
	color: #032E5D;
	margin-top:0;
}
h4{	
	font-family: "Manrope", sans-serif;
	font-size:20px;
	margin-top:0;
	color: #032E5D;
}
p{
	line-height:25px;
	color:#FFF;
	font-weight:400;
    margin: 0;
	font-size:18px;
	margin-bottom:10px;
	font-family: "Manrope", sans-serif;
}
a{color:#1C1D52; font-family: "Manrope", sans-serif; font-size:16px; font-weight:400;}

a:focus, a:hover {
	outline:none;
    text-decoration: none;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.no-pad{padding-left:0; padding-right:0;}
.lrnmr{
	color: #fff;
    background: #009fff;
    border: 1px solid #009fff;
    border-radius: 30px;
    outline: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    display: inline;
}
i.fas{margin-right:10px;}
.rqstmore{
	color: #FFF;
	border: 1px solid #FFF;
    border-radius: 30px;
    outline: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
	display: inline;
}
.navbar{
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    background: transparent;
    width: 100%;
    padding:20px 0;
    height: auto;
    position: fixed;
    z-index: 16;
}
.navbar-brand{
	float: left;
    height: auto;
    padding: 0;
	margin-top:10px;
	margin-left:0 !important;
}
.scrolled .navbar-brand{margin-top:18px; transition: 0.5s;}
.navbar-default .navbar-nav>li{text-transform:uppercase;}
.navbar-default .navbar-nav>li>a{
	color:#000;
	line-height:17px;
	padding: 0;
	font-size:15px;
	font-weight:600;
}
.navbar-default .navbar-nav>li>a:hover{color:#32aa9a; border-bottom:4px solid #32aa9a;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #b3914a;
    background-color: #203056;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color:transparent;}
.navbar-default .navbar-toggle{margin-top: 20px; border-color:#b3914a;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:transparent; }
.navbar-default .navbar-toggle .icon-bar {background-color: #b3914a;}
.navbar-default .navbar-nav>li>a:focus { color: #000;}
.dropdown-menu>li>a{line-height:30px; }
.dropdown-menu>li>a:hover{color:#b3914a;}
.navbar-toggle{background: #7f1e46;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #7f1e46;}
.nav>li {
    position: relative;
    display: block;
    padding: 0;
}
.nav>li:last-child{border-right:none;}
#myNavbar ul li.dropdown:hover > .dropdown-menu {display: block;}
.dropdown-menu{
	padding:0;
    margin: 0;
    border: none;
    left: 0 !important;
	border-radius:0;
    background:#0d509d;
	top:100%;
	position:absolute;
}
#myNavbar ul li ul.dropdown-menu li{border-bottom:1px solid #7CA0D9; margin:0; padding: 15px 30px;}
#myNavbar ul li ul.dropdown-menu li:last-child{border-bottom:none;}
#myNavbar ul li ul.dropdown-menu li a{
	color:#FFF;
    padding: 0;
    line-height: 20px;
}
#myNavbar ul li ul.dropdown-menu li a:hover{color:#7CA0D9;}
#myNavbar ul{padding-inline-start:0; float:none; display:table; margin:0 auto; position:relative;}
#myNavbar ul li{padding:0 25px;}
#myNavbar ul li a{transition: all 0.3s ease; padding:0; color:#71717A; font-weight: 400;}
#myNavbar ul li a:hover{transform: translateY(-2px); color:#032E5D;}
#myNavbar ul li.active a{background-color:transparent;}
.navbar-nav>li>.dropdown-menu{margin-top:0 !important;}
@media screen and (min-width:992px) and (max-width:1199px){
.nav>li>a {}
}
@media screen and (max-width:991px) {
.navbar-header {float: none;}
.navbar-left,.navbar-right {float: none !important;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent; box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-fixed-top {top: 0;	border-width: 0 0 1px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {
	float: none!important;
	margin-top: 7.5px;
	margin-right: 0 !important;
}
.navbar-nav>li {float: none; padding:0;}
.navbar-nav>li>a {padding-top:10px; padding-bottom: 10px;}
.collapse.in{display:block !important;}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	padding: 0;
    padding-bottom: 17px;
	margin:0 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #FFF;	border-bottom:1px solid #384d81;}
.navbar-collapse {padding-right: 0; padding-left: 0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#203056;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color:transparent;}
}
@media (max-width: 767px){
.navbar-collapse {padding-right: 15px; padding-left: 15px;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#b7944c;}
}
hr.brdrsctn{border-top: 1px solid #D1F2F1; margin-top:40px; margin-bottom:40px;}

.sidenav{margin-bottom:30px; background:#f6f5f1; padding:12px 0; border-radius: 6px;}
.sidenav h1.cntxt{margin: 15px 20px;}
.sidenav ul{padding-inline-start:0;}
.sidenav ul li{
	list-style-type:none;
	border-bottom:1px solid #e0d6d6;
	position:relative;
	font-size:15px;
}
.sidenav ul li a{padding:17px 25px; display:block; line-height:20px;}
.sidenav ul li a:hover:after{
	content: '';
    position:absolute;
    right:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #f6f5f1;
    top:15px;
}
.sidenav ul li a.hvr-sweep-to-right:before{background:#35d397;}
.sidenav ul li a.active:after{
	content: '';
    position:absolute;
    right:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #f6f5f1;
    top:15px;
}
.sidenav ul li a.active{background:#35d397; color:#FFF;}	
.sidenav ul li:last-child{border-bottom:none;}
.mobile-header{
	background-color:transparent; 
	position:fixed;
	z-index:99; 
	padding:25px 0;
	width:100%; 
	top:0;
}
.mobile-header a.navbar-brand{margin-top:0;}
.mblnav{padding-top:30px;}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background:#EFF2F9;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top:0;
}
.sidebar hr{margin-bottom:20px;}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    color: #032E5D;
    display: block;
    line-height: 25px;
    border-bottom: 1px solid rgba(202,209,233,.85);
    font-size: 16px;
    font-weight:600;
    text-transform: uppercase;
	letter-spacing:0;
}
.sidebar a:hover{background-color:#032e5d; color:#FFF;}
.sidebar a:focus{background-color:#032e5d; color:#FFF;}
.sidebar a img{padding:0; outline:none;}
.sidebar .closebtn {
	color:#009fff;
    border-bottom: none;
    margin-left: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    top:0;
    right: 17px;
    background: transparent;
    outline: none;
    border: none;
}
.sidebar .closebtn:hover{background-color:transparent;}
.openbtn {
    cursor:pointer;
    background-color:transparent;
    border:none;
    outline:none;
	margin-top:0;
}
.openbtn:hover {background-color:transparent;}
#main button.openbtn svg { transform: rotate(-180deg);}
#main button.openbtn svg{fill: #00a4fb; height:40px; margin-right:0; transition: transform 0.5s ease;}
#main {
	float: right;
    margin-top: 0;
    transition: margin-right .5s;
    position: relative;
    right: 0;
}
#main a.bktxt:hover{background:#FFF; color:#000;}
#main svg{
	fill: #00a4fb;
    height: 30px;
    margin-right: 60px;
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 0;
}
/* ACCORDIAN CSS */
.panel-group {margin-bottom: 0;}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-color: transparent;
	border:none;
}
.panel-group .panel+.panel {margin-top: 0;}
.panel .panel-heading{
	padding:0;
	background-color:transparent;
	border-color: transparent;
	/* border-top: 1px solid #ddd; */
	border-bottom:none;
	color:#092948;
	border-top-left-radius:0;
    border-top-right-radius:0;
}
.panel .panel-heading h4{text-transform:uppercase;}
.panel .panel-heading h4 a{display:block;  font-size:22px; line-height:25px; padding:20px 25px;}
.panel .panel-heading a i.fas{float:right; margin-top:0; line-height: 25px;}
.panel-body {padding:0; border-top:none !important; padding: 0 0 15px;}
.panel{
  padding:0;
  color:#FFF;
  text-align:left;
  overflow: hidden;
  background:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.panel ul{
	padding-inline-start: 0;
    margin-top: 0;
    margin-bottom:0;
	margin-left:0;
}
.panel ul li{list-style-type:none; border-bottom:1px solid #ddd;}
.panel ul li:last-child{border-bottom:none;}
.panel ul li a{
	outline: none;
	font-size:20px;
    line-height:22px;
    padding:20px 40px;
	outline:none;
	color:#FFF;
	border-bottom:none;
}
.panel ul li a:hover {color:#164BA0; background:#EBF8FF;}
.panel ul li a:focus {color:#164BA0; background:#EBF8FF;}
.panel ul li a:active {color:#164BA0; background:#EBF8FF;}
.sidebar .sclbox{padding:20px 0; margin-bottom:30px; }
.sidebar .sclbox a{border-bottom:none; padding:0; margin-top: 0;}
.sidebar .sclbox a img{}
.sidebar .fllwbox{padding:40px 25px;}
.sidebar .fllwbox h4{font-size:25px; color: #FFF; margin-bottom: 25px;}
.sidebar .fllwbox ul{padding-inline-start: 0;}
.sidebar .fllwbox ul li{
	list-style-type:none;
	display:inline-block;
	margin:0;
}
.sidebar .fllwbox ul li a{padding:0; outline:none; border-bottom:none;}
.sidebar .fllwbox ul li a:hover{background:transparent;}
.sidebar .fllwbox ul li a i.fab{
    text-align: center;
    color: #FFF;
    padding: 0px 8px;
    font-size:26px;
}
.sidebar .fllwbox ul li a svg{
	fill: #FFF;
    font-size: 20px;
    height: 24px;
    top: 2px;
    position: relative;
}
.readmore{
	border-radius:20px;
	border:2px solid #164BA0;
	font-weight:600;
	font-size:17px;
	color:#164BA0;
	padding:20px 45px;
	display:inline-block;
}
/* NEW CSS STARTS HERE */
hr{border-top: 1px solid #00ADFE;}
.prdcthr{border-top: 1px solid rgba(202,209,233,.25); width:100%;}
.padsctn{padding:80px 0;}
#myNavbar{background:#FFF; border-radius:20px; padding:25px 0;}
.scrolled {
    transition: 0.5s;
    width: 100%;
    left: 0;
    top: 0;
    padding:10px 0;
	height: auto;
	background:#FFF;
	z-index:16;
}
.scrolled #myNavbar ul{border-bottom:none;}
.contactbx{
	text-align: center;
    border: 1px solid #032e5d;
    border-radius: 20px;
    padding: 12px;
    margin-top: 5px;
}
.contactbx a{font-weight:600; font-size:16px; display: block;}
.bannersctn{
	width:100%; 
	background:url(/images/banner.webp) no-repeat top center; 
	background-size:cover;
	position: relative;
}
.bannrBox {
	margin-top:50px;
    width: 100%;
    padding: 0;
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: flex-start;
	grid-column-gap:40px;
	grid-row-gap:40px;
}
.bnnrbxtxt{flex:1 46%;}
a.lrnmr:before{
	content: "";
    display: block; /* or inline-block */
	background: #032e5d;
	border-radius:30px;
	border:1px solid #032e5d;
}
.bannrBox h2{
	color: #032e5d;
    text-transform: capitalize;
    text-align: left;
    border-bottom: 1px solid #457FC6;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
}
.bannrBox h1{text-align:left; color:#457fc6; font-size:90px; font-weight:500; margin-bottom:5px;}
.bannrBox h1 span{color:#a6a6a6; text-transform:uppercase;}
.bannrBox h3{
	text-align:left;
	color:#032E5D;
	font-size:25px;
	line-height:80px;
	margin-bottom:50px;
}
.keysctn{
	background:#032E5D;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.keycntnr{
	grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: stretch;
	padding:45px 0;
}
.keycntnrbx{flex:0 23%; border-right:1px solid #2A4D72;}
.keycntnrbx:last-child{border-right:none;}
.keycntnrbx p{
	letter-spacing: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.keycntnr p img{margin-right:10px;}
.aboutsctn h1{line-height:80px;}
.mtrlsctn{
	margin-top:46px;
	grid-column-gap:25px;
    grid-row-gap:40px;
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
    align-items: stretch;
	position:relative;
}
.mtrlsctnbx{
	background:#FFF;
	flex:1 30%;
	padding:85px 45px 30px;
	border-radius:30px;
	position:relative;
	cursor:pointer;
}
.mtrlsctnbx img{width:auto; display:table; margin:0 auto;}
.mtrltxtbx{
	background: #01affd;
    border-radius: 30px;
    padding: 14px 60px;
    position: absolute;
    top:0;
	left:0;
	transform: translate(25%, -50%); 
}
.mtrltxtbx h3{color:#FFF; font-size:20px; font-weight:500; text-transform:uppercase;}
.mtrlsctnbx:hover{box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.1);}
.bronzesctn{position:relative; padding-bottom:130px;}
.bronzcntnr{
	grid-column-gap:80px;
    grid-row-gap:40px;
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
    align-items: stretch;
	position:relative;
}
.bronzcntnrbx{flex:1 46%;}
.bronzcntnrbx h1{text-align:left; line-height:80px;}
.bronzcntnrbx p{color:#4A4741; line-height:28px;}
.bronzcntnrbximg{
	position: absolute;
    top: 75px;
    left: 0;
    z-index: -1;
}
.accordion-item { 
	margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid transparent;
	overflow: hidden;
    background:rgba(255,255,255,.5);
}
.accordion-header { cursor: pointer;  padding: 20px 30px 20px; font-size:18px;}
.accordion-toggle { 
	text-decoration: none;
	font-size:18px;
	color: #032E5D; 
	display: flex; 
	justify-content: space-between; 
	align-items: flex-start;
	font-weight:600;
}
.accordion-toggle:hover{color:#032E5D;}
.accordion-content { 
  overflow: hidden; 
  height: 0; 
  padding: 0 30px !important; 
  transition: height 0.3s ease, padding 0.3s ease;
}
.accordion-content p{color:#4A4741; margin-bottom:20px; font-size:15px; line-height:24px;}
.accordion-toggle i {transition: transform 0.3s ease; transform: scale(0.8); opacity: 0.8;}
.accordion-item.active .accordion-toggle i {transform: rotate(180deg);}
#product{background:url(/images/tune-bg.webp) no-repeat center center #FFF; background-size:cover;}
.prdctsctn{position:relative; background:#FFF;}
.prdctsctn hr{border-top:1px solid #CAD1E9; margin-top:0; margin-bottom:0;}
.prdctsctn h1{text-align:left; color:#032E5D; margin-bottom:0; font-weight:200;}
.prdctsctn h1 span{color:#009FFF;}
.prdctsxtsctn{
	margin-top:70px;
	flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
	grid-column-gap:25px;
	grid-row-gap:25px;
	margin-bottom:60px;
}
.prdctsxtbx{
	padding:40px;
	flex:1 30%; 
	border:1px solid transparent;
	border-radius:30px;
	background: linear-gradient(white, white) padding-box,
              linear-gradient(135deg, #1AC8EE, #25B5DC) border-box;
	background:rgba(215,235,242,.35);
	background: linear-gradient(180deg,rgba(215, 235, 242, 1) 44%, rgba(177, 230, 255, 1) 100%);
	vertical-align: middle;
    transition-property: transform;
    transition-duration: 0.9s;
    display: inline-block;
    transform: perspective(1px) translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
	cursor:pointer;
}
.prdctsxtbx:hover{transform: scale(1.03);}
.prdctsxtbx:hover a.lrnmr:before{
	background: #032e5d;
	border-radius:30px;
	border:1px solid #032e5d;
}
.prdctsxtbx h3{text-align:left; font-weight:600; font-size:25px; line-height:40px;}
.prdctsxtbx h3 span{color:#009FFF;}
.prdctsxtbx p{font-size:15px; color:#2A4D72; text-transform:uppercase;}
.txtbx{margin-top:20px;}
.txtbx h4{
	font-weight:700;
	color:#009FFF;
	font-size:13px;
	letter-spacing:3px;
	text-transform:uppercase;
}
.txtbx hr{ border-top: 1px solid #ACE1FA; margin-top: 0; margin-bottom:5px;}
.txtbx ul{padding-inline-start:10px;}
.txtbx ul li{font-size:14px; line-height:26px; color:#2A4D72;}
.prdctsxtbx a.lrnmr{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
	font-size: 16px;
    font-weight: 400;
	padding: 20px 28px;
	margin-top:42px;
}
.prdctsxtbx a svg{fill:#FFF; width:15px; height:15px; position:relative; top:4px; right:5px;}
.tunesctnbx{padding-top:56px;}
.lowersctn{
	background:url(/images/lower-section-bg.png) no-repeat center center;
	background-size:cover;
	position: relative;
}
.lowersctn p{color:#4A4741; text-align:center; }
.bttnbx a{margin:0 15px;}
.imagebxcntnr{
	margin-top:60px;
	flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
	grid-column-gap:40px;
	grid-row-gap:30px;
}
.image-box {
  flex:1 47%;
  position: relative;
  overflow: hidden;
  border-radius:30px;
  cursor:pointer;
}
.image-box img {
  width: 100%;
  display: block;
  transition: transform 1.5s ease;
}
/* Title styling */
.image-box .title {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #fff;
  margin: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align:left;
  font-weight:300;
}
/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
  padding:60px 55px;
}
.overlay h1{font-size:50px; margin-bottom:25px; line-height:52px; color:#FFF; text-align:left;}
.overlay ul{padding-inline-start:0;}
.overlay ul li{
	color: #fff;
    background: url(/images/shine/frame.svg) 0 0 no-repeat;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
    list-style-type: none;
    padding-left: 35px;
}
/* Hover Effects */
.image-box:hover img {transform: scale(1.05); filter: blur(2px);}
.image-box:hover .overlay {  opacity: 1; transform: scale(1.05);}
.image-box:hover .title {  opacity: 0;}
#contact{margin-top:60px;}
.contactsctn{
	display:flex;
	flex-wrap:wrap;
	margin-top:60px;
	grid-column-gap:30px;
	grid-row-gap:30px;
	justify-content: flex-start;
    align-items: stretch;
}
.contactsctnbx{flex:1 47%;}
.contactsctnbx p{display:flex; align-items: center; margin-bottom:25px;}
.contactsctnbx p img{margin-right:10px;}
.contactsctnbx p a{color:#032E5D; font-size:18px; font-weight:500;}
.contactsctnbx p.cntxt{color:#4A4741; display:block; text-align:left;}
.contactsctnbx hr{border-top:1px solid #CAD1E9; width:100%;}
.contactsctnbx h4{
	text-align:left;
	color:#032E5D;
	font-weight:500;
	font-size:20px;
	line-height:40px;
	margin-bottom:20px;
}
.contactsctnbx ul{padding-inline-start:0; column-count:2;}
.contactsctnbx ul li{
	list-style-type:none;
	display:flex;
	align-items:flex-start;
	color:#212121;
	font-size:15px;
	line-height:24px;
	padding:10px 0;
}
.contactsctnbx ul li img{margin-right:10px;}
.contactbox{
	background:rgba(255,255,255,.70);
	padding:30px 20px;
	border-radius:20px;
}
.form-box{margin-bottom:20px;}
.form-box input{
	border-radius:30px;
	border:1px solid #CAD1E9;
	height:50px;
	width:100%;
	padding:15px;
}
.form-box textarea{
	border-radius:30px;
	border:1px solid #CAD1E9;
	width:100%;
	height:100px;
	padding:15px;
}
.form-box button.lrnmr{display:block; padding:16px 0; width:100%; font-size:16px; font-weight:600; text-transform:uppercase; outline:none}
.form-box button.lrnmr:before{
	background: #032e5d;
	border-radius:30px;
	outline:none;
}
.form-box p{text-align:left; color:#4A4741; font-size:12px; font-weight:300; line-height:18px; margin-bottom:0;}
#footer{ width:100%; background:url(/images/footer-bg.png) no-repeat top right; background-size:cover; padding:40px 0 25px;}
.ftrbxsctn{
	display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}
.ftrbx{flex:1 48%; padding: 0 0;}
.ftrbx h4{color:#FFF;}
.ftrbx p{color:#6FA4C8; font-size:16px;}
.ftrbxsctn .emlbx:first-child p{color:#6FA4C8; margin-bottom:0; text-align:left;}
.ftrbxsctn .emlbx p a{color:#AEAEAE; word-break: break-all;}
.ftrbx ul{padding-inline-start:0; text-align:right;}
.ftrbx ul li{display:inline; padding:0 35px; list-style-type:none; text-transform:uppercase; cursor:pointer;}
.ftrbx ul li:last-child{padding-right:0;}
.ftrbx ul.sclbx li{
    margin: 0 6px;
	display: inline;
	padding:0;
}
.ftrbx ul.sclbx li a{
	color:#FFF; 
	outline:none;
	background: rgba(255, 255, 255, 0.04);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.04);
    border-image: initial;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    padding: 10px 15px;
}
.ftrbx ul.sclbx li a:hover{background:#FFF; color:#000;}
.ftrbx ul.sclbx li a svg{position:relative; top:4px;}
.upprbdsctn{padding-top:250px;}
.upprbdsctn h1{font-weight:600;}
.upprbdsctn p{color:#4A4741; text-align:center;}
.triangle {
    background: url(/images/fw-l-4.png) no-repeat;
    width: 408px;
    height:415px;
    position: absolute;
    bottom: -80px;
    left:0;
    transition: transform 0.2s ease-in;
	opacity:.50;
}
.triangle-one {
    position: absolute;
    background: url(/images/fw-l-3.png) no-repeat;
    top:-150px;
    width: 510px;
    height:519px;
    right: -100px;
    transition: transform 0.2s ease-out;
	opacity:.70;
}
.triangle-two{
    position: absolute;
    background: url(/images/object-thirteen.png) no-repeat;
    width:442px;
    height:525px;
	transition: transform 0.2s ease-out;
	top: -300px;
    left: -80px;
	z-index:-1;
}
.triangle-three{
	z-index:-1;
    position: absolute;
    background: url(/images/object-twelve.png) no-repeat;
    width:295px;
    height:285px;
    top: -600px;
    right: 0;
	transition: transform 0.2s ease-out;
}
.socialbx{padding:25px;}
.socialbx ul{padding-inline-start:0;}
.socialbx ul li{display:inline-table; list-style-type:none; margin:0 3px;}
.socialbx ul li a {padding:0 0; line-height:0; border-bottom:none;}
.socialbx ul li a svg{
	fill: #fff;
    background: #009fff;
    height: 35px;
    padding: 6px;
    border-radius: 5px;
}
.tunecntnr{
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	grid-column-gap:30px;
	grid-row-gap:30px;
}
.tunetxtbx{flex:1 45%;}
.tunetxtbx h2{
	font-weight:300;
	font-size:42px;
	text-align:left;
	color:#032E5D;
}
.tunetxtbx p{color:#4B74A1; font-weight:300; font-size:22px; line-height:28px; margin:0;}
.bxsctn{
	padding-top:40px;
	flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
	grid-column-gap:30px;
	grid-row-gap:30px;
}
.bxsctncntnr{
	flex: 1 30%;
    border: 1px solid transparent;
    border-radius: 30px;
    background: 
        linear-gradient(245deg,rgba(215, 235, 242, .25) 44%, rgba(177, 230, 255, .25) 100%) padding-box,
        linear-gradient(to right, rgba(26,200,238,0.15), rgba(37,181,220,0.15)) border-box;
    padding:30px;
}
.bxsctncntnr h4{font-weight:600; font-size:17px; margin-bottom:4px;}
.bxsctncntnr p{font-size:15px; line-height:25px; color:#4B74A1; margin-bottom:0;}
/*MEDIA QUERY CSS STARTS HERE*/
@media only screen and (orientation:portrait){}
/* @media screen and (max-width:1799px){.bannersctn .evntbx .bannrbx{top: 180px;}} */
@media screen and (max-width:1440px){.triangle-one{right:0;}}
@media screen and (max-width:1366px){}
@media screen and (max-width:1280px){}
@media screen and (max-width:1080px){
	.bttnbx{margin-top:25px;}
}
@media(min-width: 981px) and ( max-width: 1024px){
	.overlay{padding:35px 40px;}
	.overlay ul li{ line-height: 24px; margin-bottom: 5px; padding-bottom: 5px;}
	.ftrbx ul li{padding: 0 25px;}
	.triangle{display:none;}
	.triangle-one{display:none;}
} 
@media screen and (min-width:768px) and (max-width:991px){}
@media all and (min-width:768px) and (max-width:991px) and (orientation:landscape) {}
@media screen and (max-width:991px) {
	h1{font-size:35px;}
	.bannrBox{padding:0 30px; grid-column-gap:25px;}
	.bannrBox h1{font-size:70px;}
	.bannrBox h2{font-size: 30px; padding-bottom:15px;}
	.bannrBox h3{line-height:37px; margin-bottom: 50px;}
	.keycntnrbx { border-right: none; flex: 0 41%;}
	.mtrltxtbx{padding: 14px 20px;}
	.mtrlsctnbx{padding: 45px 25px 25px;}
	.prdctsxtbx{flex:0 48%;}
	.ftrbx{flex: 40%;}
	.ftrbx ul li{padding: 0 15px;}
	.image-box{flex:1 47%;}
	.scrolled{padding: 20px 0;}
	.scrolled .navbar-brand { margin-top: 0; transition: 0.5s;}
	.overlay{padding:20px 30px;}
	.overlay h1{
		margin-bottom: 20px;
        font-size: 25px;
        line-height: 27px !important;
	}
	.overlay ul li{padding-bottom:5px; margin-bottom:5px; line-height:20px;}
	.tab{justify-content: space-between;}
	.aboutsctn h1{line-height:40px;}
	.bronzcntnrbx h1{line-height:40px;}
	.triangle{display:none;}
	.triangle-one{display:none;}
	.prdctsctn{height:auto;}
	.bronzesctn{padding-top:0;}
}
@media screen and (max-width:767px){
	.tab button{padding:20px 15px;}
	.bttnbx a {
	    margin: 15px 0;
		width: 100%;
		text-align: center;
	}
	.prdctsxtbx h3{text-align:center;}
	.prdctsxtbx ul li{list-style-type:none;}
	.prdctsxtbx{flex: 1 48%; text-align:center;}
}
@media screen and (max-width:540px){}
@media screen and (orientation: landscape) and (max-height: 500px) {}
@media (max-width:480px){
	.prdctsxtbx { flex: 0 100%; }
	.prdctdtlsctnbx {  flex: 100%; }
	.prdctsxtbx a.lrnmr{padding: 20px 20px;}
	.ftrbx img{margin:0 auto; display:table;}
	.ftrbx { flex: 100%;}
	.ftrbx ul{text-align:center;}
	.ftrbx ul li{
		display:block;
		padding:15px 0;
		border-bottom:1px solid rgba(202,209,233,.25);
	}
	.ftrbx p{text-align:center;}
	.ftrbx ul li:last-child{border-bottom:none;}
	.contactbox{padding: 30px 0;}
	.upprbdsctn { padding-top: 150px;}
	.keycntnr p img {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.contactsctnbx p{justify-content: center;}
	.contactsctnbx p.cntxt{text-align:center;}
	.keycntnrbx { border-right: none; flex: 0 37%; }
	.contactsctnbx ul{column-count: 1;}
	.contactsctnbx ul li{padding:5px 0;}
	.bronzcntnrbximg{top:inherit; bottom: -180px;}
	.mtrlsctnbx{flex: 100%;}
	.mtrltxtbx {padding: 14px 60px; transform: translate(30%, -50%);}
	.tunetxtbx{flex: 1 47%;}
	.bxsctn{grid-column-gap:15px; grid-row-gap:15px;}
	.bxsctncntnr{flex:1 46%; padding:18px;}
}
@media (max-width:414px){}
@media (max-width:394px){}
@media (max-width:375px){}
@media (max-width:320px){}